* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
svg {
  height: 12px;
  transform: rotate(360deg);
}
#price {
  display: inline;
}
.container {
  width: 200px;
  background: #f0f0f0;
  padding: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 12px;
  margin: 20px;
}
